<%= form_for(@shop) do |f| %>
  <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
      <% @shop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address_line1 %><br />
    <%= f.text_field :address_line1 %>
  </div>
  <div class="field">
    <%= f.label :address_line2 %><br />
    <%= f.text_field :address_line2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zipcode %><br />
    <%= f.number_field :zipcode %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.number_field :phone %>
  </div> 
  <div class="field">
    <%= f.label :wifi %><br />
    <%= f.text_field :wifi %>
  </div> 
  <div class="field">
    <%= f.label :food %><br />
    <%= f.text_field :food %>
  </div> 
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div> 
  <div class="field">
    <%= f.label :neighborhood %><br />
    <%= f.text_field :neighborhood %>
  </div> 
  <div class="field">
    <%= f.label :two_person_tables %><br />
    <%= f.text_field :two_person_tables %>
  </div> 
  <div class="field">
    <%= f.label :four_person_tables %><br />
    <%= f.text_field :four_person_tables %>
  </div> 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
