<h1>Coffee Shops</h1>

<table>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>Phone</th>
    <th>Wifi</th>
    <th>Food</th>
    <th>Neighborhood</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shops.each do |shop| %>
  <tr>
    <td><%= shop.name %></td>
    <td><%= shop.city %></td>
    <td><%= shop.phone %></td>
    <td><%= shop.wifi %></td>
    <td><%= shop.food %></td>
    <td><%= shop.neighborhood %></td>
    <td><%= link_to 'Show', shop %></td>
    <td><%= link_to 'Add to Favorites', @user %></td>
    <%#= link_to 'Edit', edit_shop_path(shop) %>
    <%#= link_to 'Destroy', shop, confirm: 'Are you sure?', method: :delete %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shop', new_shop_path %>
